.contact {
    border-radius: 40px;
    background-color: #FFCC33;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.header {
    z-index: 1;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    background-color: #746C99;
    height: 5rem;
    width: 100%;
    position: sticky;
    top:0;
}